# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment files
.env
.env.docker

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/
